
		
	@font-face {
		font-family: 'Raleway-Bold';
		src: url('../fonts/Raleway-Bold.eot'); 
		src: url('../fonts/Raleway-Bold.ttf') format('truetype'), 
			url('../fonts/Raleway-Bold.otf') format('OpenType'),
			url('../fonts/Raleway-Bold.svg') format('svg'),
			url('../fonts/Raleway-Bold.woff') format('woff'),
			url('../fonts/Raleway-Bold.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Raleway-SemiBold';
		src: url('../fonts/Raleway-SemiBold.eot');
		src: url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
			url('../fonts/Raleway-SemiBold.otf') format('OpenType'),
			url('../fonts/Raleway-SemiBold.svg') format('svg'),
			url('../fonts/Raleway-SemiBold.woff') format('woff'),
			url('../fonts/Raleway-SemiBold.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Raleway-Medium';
		src: url('../fonts/Raleway-Medium.eot');
		src: url('../fonts/Raleway-Medium.ttf') format('truetype'),
			url('../fonts/Raleway-Medium.otf') format('OpenType'),
			url('../fonts/Raleway-Medium.svg') format('svg'),
			url('../fonts/Raleway-Medium.woff') format('woff'),
			url('../fonts/Raleway-Medium.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Museoslab-500';
		src: url('../fonts/MuseoSlab-500.eot');
		src: url('../fonts/MuseoSlab-500.ttf') format('truetype'),
			url('../fonts/MuseoSlab-500.otf') format('OpenType'),
			url('../fonts/MuseoSlab-500.svg') format('svg'),
			url('../fonts/MuseoSlab-500.woff') format('woff'),
			url('../fonts/MuseoSlab-500.woff2') format('woff2');
	}
	@font-face {
		font-family: 'RobotoSlab-Regular';
		src: url('../fonts/RobotoSlab-Regular.eot');
		src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
			url('../fonts/RobotoSlab-Regular.otf') format('OpenType'),
			url('../fonts/RobotoSlab-Regular.svg') format('svg'),
			url('../fonts/RobotoSlab-Regular.woff') format('woff'),
			url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
	}
	
	li {
		list-style-type: none;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	.clr { clear: both;}
	.clearfix{
		zoom:1;
		&:before, &:after{ content:""; display:table; }
		&:after{ clear: both; }
	  }
	 	
	.content-properties {
		p {
			font-family: Raleway-SemiBold;
			font-size: 20px;
			color: #b6b6b6;		
		}
		h2 {
			font-family: Raleway-SemiBold;
			font-size: 28px;
			color: @color-grey;
			padding-top: 20px;
			}
			.secparag {
				font-family: Raleway-Medium;
				font-size: 18px;
				color: @color-lightGrey;
				line-height: 1.6em;
				padding-top: 20px;
			} 
		}

	@color-grey: #494949;
	@color-lightGrey: #7c7c7c;
	@color-white: #fff;

	
	.header_proreties {
		text-align: center;
		padding-top: 80px;
		padding-bottom: 10px;
		p {
		font-family: RobotoSlab-Regular;
		font-size: 16px;
		color: @color-lightGrey;
		padding-bottom: 10px;
		}
		h2 {
		font-family: RobotoSlab-Regular;
		font-size: 20px;
		text-transform: uppercase;
		color: @color-grey;
		letter-spacing: 2px;
		font-weight: bold;
		}
		hr {
		border: none;
		background: #2eb0ec;  
		height: 2px;
		max-width: 2.5%;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		}
		@media (min-width: 768px) and (max-width: 1200px) {
			p {font-size: 14px;}
			h2 {font-size: 16px;}
			padding-top: 40px;
		}
		@media (max-width: 420px) {
			padding-top: 40px;
			h2{
				font-size: 16px;
			}
			p{
				font-size: 14px;
			}
		}	
	}
	.full_page {
		max-width: 1600px;
		margin: 0 auto;
		.clearfix
	}
	.bg_flaby {
		background-image: url(../images/bg_header.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#scrollBtn {
		display: none;
		position: fixed;
		bottom: 50px;
		right: 15px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		background-color: #66d4f4;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 50px;
		transition: 0.3s;
	    &:hover {
		background-color: #a7e1f3;
	  }
	}
	.wrapperHeader {
		position: fixed;
		z-index: 99;
		width: 100%;
		max-width: 1600px;
		.clr;
	}
	#myNavbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-bottom: 1px solid white;
		background-color: rgba(120, 192, 249, 0.9);
		top: 0;
		left: 0;
	}
	.navbar {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 15px;
		padding-bottom: 15px;
		
		a {
			font-size: 15px;
			font-family: Raleway-SemiBold;	
			color: @color-white;
			text-transform: uppercase;
			text-decoration: none;
			display: block;
			padding: 12px;
			border-radius: 5px;
			-webkit-transition: 0.3s; 
			transition: 0.3s;
			&:hover{
			background-color: #4ca3e6;
			transform: scale(1.1);
			}
		}
	}
	.collapse {
		-webkit-animation: collapse .5s ease forwards;
				animation: collapse .5s ease forwards;
	  }

	  .open {
		-webkit-animation: open .5s ease forwards;
				animation: open .5s ease forwards;
	  }
	  
	  @-webkit-keyframes collapse {
		from {
		  opacity: 1;
		  top: 0;
		}
		to {
		  opacity: 0;
		  top: -73px;
		}
	  }
	  
	  @keyframes collapse {
		from {
		  opacity: 1;
		  top: 0;
		}
		to {
		  opacity: 0;
		  top: -73px;
		}
	  }
	  @-webkit-keyframes open {
		from {
		  opacity: 0;
		  top: -73px;
		}
		to {
		  opacity: 1;
		  top: 0;
		}
	  }
	  @keyframes open {
		from {
		  opacity: 0;
		  top: -73px;
		}
		to {
		  opacity: 1;
		  top: 0;
		}
	  }
	.navbar .icon {
		display: none;
	}
		#logo {
		-webkit-transition: 0.5s; 
		transition: 0.5s;
		&:hover{
			transform: scale(1.3);
			}
	}
	.wrapper {
		max-width: 1110px;
		.clearfix;
		margin-right: auto;
		margin-left: auto;
	}
	.content_flaby {
		display: flex;
		position: relative;
		padding-top: 300px;
		padding-bottom: 90px;
		margin: 0;
		// text-align: left;
		flex-wrap: wrap;
		width: 45%;
	}
	.content_flaby h1 {
		font-family: 'museoslab-500';
		font-size: 34px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: @color-white;
		padding-bottom: 30px;
		line-height: 1.2em;
	}
	.content_flaby p {
		font-family: Raleway-Medium;
		font-size: 24px;
		line-height: 1.5em;
		color: @color-white;
		padding-bottom: 30px;
	}
	.btn-group {
		padding-top: 22px;
		padding-bottom: 100px;
		margin: 0;
	}
	.btn-hover {
		background-color: #4894ce;
		color: @color-white;
		transform: scale(1.1);
	}
	.btn1 {	
		font-family: Raleway-SemiBold;
		text-align: right;
		padding-right: 25px;
		font-size: 14px;
		background-color: @color-white;
		background-image: url(../images/google_play.png);
		background-repeat: no-repeat;
		background-position: 20px 18px;
		border-radius: 10px;
		border: none;
		width: 160px;
		height: 60px;
		margin-right: 25px;
		cursor: pointer;
		-webkit-transition: 0.5s; 
		transition: 0.5s;
		a {
			color: black;
		}
		&:hover {
			.btn-hover;
		}	
	}
	.btn2 {
		font-family: Raleway-SemiBold;
		font-size: 14px;
		background-color: @color-white;
		border-radius: 10px;
		border: none;		
		width: 160px;
		height: 60px;
		cursor: pointer;
		-webkit-transition: 0.5s; 
		transition: 0.5s;
		a {
			color: black;
		}
		&:hover {
			.btn-hover;
		}
	}	
	@media screen and (min-width: 685px) and (max-width: 880px) {
	.navbar {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}
		.content_flaby {
			display: flex;
			width: 50%;
			padding-left: 130px;
			align-content: center;
			padding-top: 200px;
			padding-bottom: 25px;
			h1 {
				font-size: 28px;
				line-height: 1.2em;
			}
			p {font-size: 20px;}
			.btn-group {
				display: flex;
				overflow: hidden;
				flex-direction: row;
				align-items: center;
				.btn1,
				.btn2 {
					margin: 6px;
					width: 140px;
					height: 50px;
					cursor: pointer;
					}
				.btn1 {
				text-align: right;
				padding-right: 13px;
				background-position: 12px 14px;
				}
			}
		}
	}
	@media (min-width: 524px) and (max-width: 685px) {
		header .responsive {
				padding-top: 0;
				padding-bottom: 0;
			}
			.navbar {
			padding-top: 0px;
			padding-bottom: 10px;
		}
		#myNavbar{
				display: flex;
				flex-direction: column;
				padding-top: 0px;
				padding-bottom: 0;
			}
			.content_flaby {
			flex-wrap: wrap;
			align-items: left;
			padding: 250px 0 0 30px;
			margin-right: 0;
			width: 80%;
		}
	}
	@media screen and (min-width: 250px) and (max-width: 524px) {
		.wrapperHeader{
			display: block;
			width: 100%;
		}
		#myNavbar {
			padding-top: 25px;
			padding-bottom: 10px;
		}
		.navbar {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			padding-top: 0;
			padding-bottom: 0;
		}
		.navbar a {display: none;}
		.navbar a.icon {
			float: right;
			display: block;
		}
		.navbar.responsive {
			position: relative;
		}
		.navbar.responsive a .icon {
			position: absolute;
			top: 0;
			align-self: center;
			background-color: transparent;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				text-align: center;
			}
			}
		.navbar.responsive a {
			float: none;
			display: block;
			line-height: 0.8em;
			padding-top: 15px;
			padding-right: 10px;
			text-align: center;
		
			}
		.content_flaby {
			margin-top: 80px;
			align-items: left;
			padding: 10px 0 0 10px;
			margin-right: 0;
			width: 90%;
			h1 {
				font-size: 26px;
				line-height: 1.4em;
			}
			p {font-size: 18px;}
			
			.btn-group {
				display: flex;
				overflow: hidden;
				flex-direction: row;
				align-items: center;
				padding-bottom: 45px;
				.btn1,
				.btn2 {
					margin: 6px;
					width: 140px;
					height: 50px;
					cursor: pointer;
					}
				.btn1 {
				text-align: right;
				padding-right: 10px;
				background-position: 10px 13px;
				}
			}
		}
	}
			// Section-2

	.our_services {
		.header_proreties;	
	}
	.container {
		display: flex;
		max-width: 1110px;
		padding-top: 30px;
		padding-bottom: 80px;		
		margin: 0 auto;
		h6 {
			font-family: Raleway-Bold;
			font-weight: bold;
			font-size: 18px;
			color: @color-grey;
			padding-bottom: 20px;
		}
		p {
			font-family: Raleway-Medium;
			font-size: 14px;
			line-height: 1.8em;
			color: @color-lightGrey;
		}
		.column_dev, .column {
			justify-content: center;
			padding: 30px;
		}  
		.img_sec2 {
			padding-bottom: 50px;
		}	
		#photo {
			padding-top: 10px;
			padding-bottom: 63px;
		}
	}
	
	@media (min-width: 540px) and (max-width: 768px) {
		.container {
			display: flex;
			justify-content: center;
			padding-top: 40px;
			padding-bottom: 60px;
			.column_dev, .column {
				padding: 10px;
			}  
			.img_sec2 {
				padding-top: 10px;
				padding-bottom: 50;
			}	
			#photo {
				padding-top: 17px;
				padding-bottom: 65px;
			}
		}
	}
	@media (min-width: 300px) and (max-width: 540px) {
		.container {
			display: block;
			width: 100%;
			padding-top: 10px;
			padding-bottom: 20px;	
		.column_dev, 
		.column {
			padding: 10px;
			}  
		}
	}	
			// Section-3
	
	.unlimited {
		background-image: url(../images/bg-3.png);
		background-repeat: no-repeat;
		background-size: cover;	
		.clearfix;
	}	
	.content {
		.content-properties;
		max-width: 1110px;
		// text-align: left;
		float: right;
		width: 50%;
		padding-top: 130px;
		padding-bottom: 200px;
		margin-left: auto;
		margin-right: auto;	
		h2 {
			line-height: 1.2em;
		}
	.featur {
		font-family: Raleway-Medium;
		font-size: 14px;
		color: @color-lightGrey;
		line-height: 2.2em;
		padding-top: 30px;
	}
	.featur li:before {
		background-color: #66d4f4;
		box-shadow: inset 0 0 1px 2px #c8ebf5;
		border-radius: 50%;
		content:"";
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 2px;
		height: 10px;
		width: 10px;
	}	
	#btnUnlim {
		background-color: #66d4f4;
		color: @color-white;
		border-radius: 40px;
		border: none;
		width: 120px;
		height: 35px;
		font-family: Raleway-Bold;
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 25px;
		cursor: pointer;
		-webkit-transition: 0.3s; 
		transition: 0.3s;
		&:hover {
			box-shadow: 0 15px 30px #a8dceb;
		}
	}
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}
.modal-content {
	background-color: #66d4f4;
    margin: auto;
    padding: 40px;
    border: 2px solid @color-white;
	width: 80%;
	p {
		color: @color-white;
	}
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: @color-white;
    text-decoration: none;
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.unlimited {
		background-image: url(../images/bg_unlimMedia.png);
		.content {
			width: 70%;
			float:left;
			padding-top: 30px;
			padding-bottom: 100px;
			padding-left: 80px;
			}
	}
}
@media screen and (max-width: 768px) {
	.unlimited {
		background-image: url(../images/bg_unlimMedia.png);
	}
	.content {
		width: 97%;		
		padding: 20px 5px 20px 5px;
		}
}
			// Section-4
	
	.services_main {
		.clearfix;
		.header_proreties {
			.header_proreties;
		}
		.bublle h6 {
			font-family: Raleway-SemiBold;
			font-weight: bold;
			font-size: 18px;
			color: @color-grey;
		}
		.bublle p {
			font-family: Raleway-Medium;
			font-size: 14px;
			line-height: 1.8em;
			color: @color-lightGrey;
		}
		.fa-img {
			display: flex;
			font-size:2em; 
			color: #58c0f0;
			padding-right: 10px;
			padding-bottom: 50px;
			// align-content: center;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					padding-right: 40px;
				}
		}	
	}
	.rowbubble1,
	.rowbubble2 {
		display: flex;
		width: 70%;
		margin: 0 auto;
		justify-content: center;
		.bublle {
			display: flex;	
			align-self: center;
			padding-top: 45px;
			padding: 10px;
		}	
	}
	.rowbubble1 {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.rowbubble2 {
		padding-bottom: 100px;
	}
	@media (min-width: 550px) and (max-width: 800px) {
		.rowbubble1,
		.rowbubble2 {
			width: 90%;
		}
		.rowbubble1 {
			padding-top: 30px;
		}
		.rowbubble2 {
			padding-bottom: 50px;
		}
	}
	@media (max-width: 550px) {
		.rowbubble1,
		.rowbubble2 {
			width: 100%;
			display: block;
		}
		.rowbubble1 {
			padding-top: 10px;
			padding-bottom: 0;
		}
		.rowbubble2 {
			padding-bottom: 40px;
		}
	}
			// --Section-5--
		
	.customer {
		background-image: url(../images/bg_author.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		.clearfix;
		.header_proreties;
	}	
	.header_author {
		max-width: 1110px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		text-align: center;
		h6 {
			font-family: Raleway-Bold;
			font-size: 16px;
			padding-top: 20px;
			}
		p {
			font-family: Raleway-Medium;
			font-size: 12px;
		}
		.article-content {
			font-family: Raleway-Medium;
			font-size: 16px;
			text-align: center;
			padding-top: 40px;
			line-height: 30px;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	} 
	.buttons {
		padding-top: 140px;
		padding-bottom: 80px;
		font-family: Raleway-Bold;
		font-size: 16px;
		display: inline-flex;
		cursor: pointer;
		-webkit-transition: 0.5s; 
		transition: 0.5s;
		.previous {		
			color: @color-grey;
			text-decoration: none;
			margin-right: 10px;
			&:hover {
				color: #abafb0;
				transform: scale(1.3);
			}
		}
		.next {
			color: @color-grey;
			text-decoration: none;
			&:hover {
				color: #abafb0;
				transform: scale(1.3);
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1200px) {
		.customer {
			background-position: center;
			.header_author {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			img {
				padding-top: 70px;
			}
			.article-content {
				padding-top: 30px;
			}
		}
	}
}
	@media (max-width: 420px) {
		.header_author {
			width: 100%;
			.article-content {
				width: 90%;
			}
		}
		.buttons {
			padding-top: 70px;
			padding-bottom: 50px;
		}
	}
			// --Section-6--

	.great-resourse {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 130px;
		padding-bottom: 130px;
		.clearfix;
	}
	.great-resourse-content {
		.content-properties;
		width: 35%;
		margin-right: 60px;
		.secparagaph {
		font-family: Raleway-Medium;
		font-size: 14px;
		color: @color-lightGrey;
		line-height: 1.6em;
		}
	}
	.image-resourse {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	@media (min-width: 650px) and (max-width: 800px) {
		.great-resourse {
			margin: 10px;
		}
		.image-resourse {
			width: 50%;
		}
		.great-resourse-content {
			width: 65%;
			margin-right: 30px;
		}
	}
	@media (max-width: 650px) {
		.great-resourse {
			display: block;
			padding-top: 70px;
			padding-bottom: 70px;
		.great-resourse-content {
			width: 97%;
			padding-bottom: 20px;
			margin-right: auto;
			margin-left: auto;
		}
		.image-resourse {
			width: 97%;
			margin-right: auto;
			margin-left: auto;
			}	
	}
}
			// --Section-7--
	.pricing-plan {
		background-image: url(../images/BG-7-modif.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 150px;
		.clearfix;
	}
	.header_proreties {
		.header_proreties;
	}
	.container_pricingPlan {
		display: flex;
		width: 70%;
		padding-top: 70px;
		margin-left: auto;
		margin-right: auto;
	}
	.columns_price {
		background-image: url(../images/bg-7-prices1.png);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 25px;
		text-align: center;
		margin: 10px;
		display: block;
		float: left;
		width: 33.33%;
		&:hover {
			transform: scale(1.1);	
		}
	}
		.img_price {
			padding-top: 40px;	
		}
	.price {
		display: block;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		cursor: pointer;
		.first_pr {
			font-family: Raleway-Bold;
			font-size: 18px;
			color: @color-grey;
			padding-top: 50px;
			}
		}
		sup,
		sub {
			font-family: Raleway-Medium;
			font-size: 23px;
			color: #2eb0ec; 
			}
		.price_value {
			font-size: 60px;
			padding-bottom: 30px;
			background: linear-gradient(to bottom left,	#36b9ee, #65eef8);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent; 
			background-clip: text;
		
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		background: none;
		color:	#36b9ee;
		}		
	}
		.price li {
			font-family: Raleway-Medium;
			font-size: 14px; 
			color: @color-lightGrey;
			padding: 10px;
			text-align: center;
			&:hover {
				color: #bebebe;
			}
		}
	.button_price {
		background-color: #66d4f4;	
		border-radius: 40px;
		border: none;	
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: 0.5s; 
		transition: 0.5s;
		top: 50%;
		left: 50%;
		margin-top: 30px;
		margin-bottom: 50px;
		width: 140px;
		height: 20px;
		margin-left: auto;
		margin-right: auto;
		a {	
			font-family: Raleway-Bold;
			font-size: 14px;
			color: @color-white;	
		}
		&:hover {
			box-shadow: 0 15px 30px #a8dceb;
		}
	}
	@media (min-width: 530px) and (max-width: 800px) {
		.button_price {
			width: 100px;
			height: 20px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media (max-width: 530px) {
		.pricing-plan {
			padding-bottom: 50px;
		}
		.container_pricingPlan {
			display: block;
			padding-top: 20px;
			.columns_price {
				width: 100%;	
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
		// Section-8

	.header_proreties {
		.header_proreties;
	}
	.subscribeNow {
		padding-bottom: 100px;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 50px;	
		padding-bottom: 30px;
	}
	.inputField {
		align-self: center;
		width: 250px;
		height: 50px;	
		border-radius: 40px;
		border: 1px solid #f7f7f7;
		margin: 10px;
		text-align: center;
		box-decoration-break: unset;
		&:hover {
			box-shadow: 0 15px 30px #f5f9f9;
		}
	}
	.submit {
		align-self: center;
		background-color: #66d4f4;	
		border-radius: 40px;
		border: none;	
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: 0.5s; 
		transition: 0.5s;
		width: 250px;
		height: 50px;	
		font-family: Raleway-Bold;
		font-size: 14px;
		color: @color-white;
		margin: 10px;	
		cursor: pointer;
		&:hover {
			box-shadow: 0 15px 30px #a8dceb;
		}
	} 
	@media (min-width: 450px) and (max-width: 700px) {
		.subscribeNow {
			padding-bottom: 50px;
		}
	}
	@media (min-width: 300px) and (max-width: 450px) {
		.subscribeNow {
			padding-bottom: 20px;
			form {
				padding-bottom: 0;
			}
		}
	}
		// Section-9 Footer
	
	#GoogleMaps iframe {
		width: 100%;
		height: 450px;
	}
	footer {
		margin: 0 auto;
		max-width: 1110px;
	}
	.footerWrapper {
		display: flex;
		justify-content: space-around;
		padding-top: 30px;
		padding-bottom: 30px;
		line-height: 1.8em;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
	}
	.footerLogo {
		width:25%;
	}
	.socialmediaicons ul li {
		display: inline-block;
		margin-right: 10px;
		padding-top: 15px;
	}
	#footerlogo {
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.footerLogo,
	.footerLinks {
		display: flex;
		flex-direction: column;
		// text-align: left;
		p {
			font-family: Raleway-Medium;
			font-size: 14px;
			color: @color-lightGrey;
		}
		h4 {
			font-family: Raleway-Bold;
			font-size: 18px;
			color: @color-grey;
			padding-bottom: 20px;
			padding-top: 20px;
		}
		a {
			font-family: Raleway-Medium;
			font-size: 14px;
			color: @color-lightGrey;
		}
	}
	@media (min-width: 250px) and (max-width: 540px) {
		.footerWrapper {
			display: block;
			padding-bottom: 0;
			.footerLogo {
				width: 90%;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 30px;
				#footerlogo{
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.footerLinks {
			text-align: center;
			float: left;
			width: 50%;
			}
			.lastlink {
				padding-bottom: 30px;
			}
		}
	}
	.copyright {
		font-family: Raleway-Medium;
		font-size: 14px;
		color: @color-lightGrey;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		 a {
			font-family: Raleway-Bold;
			color: @color-lightGrey;
			text-decoration: none;
		}
	}